@model List<Users>

@{
	ViewData["Title"] = "Lista de Usuários";
}

<h1>Usuarios Cadastrados</h1>


<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Empresa</th>
						<th>CNPJ</th>
						<th>Email</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var usuario in Model)
					{
						<tr>
							<td>@usuario.RazaoSocial</td>
							<td>@usuario.CNPJ</td>
							<td>@usuario.Email</td>
							<td>
								<a class="btn btn-primary" asp-controller="Home" asp-action="EditarUsuario" asp-route-id="@usuario.Id">Editar</a>
							</td>
							<td>
								<a class="btn btn-danger" asp-controller="Home" asp-action="ExcluirUsuario" asp-route-id="@usuario.Id">Excluir</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>